* {
  box-sizing: border-box;
  font-family: open sans;
  margin: 0;
}

:root {
--fdnd-color-minty: rgba(102, 229, 191, 1);
--fdnd-color-dark-blue: rgba(5, 5, 66, 1);
--fdnd-color-ligth-purple: rgba(166, 117, 245, 1);
--background-color: rgba(189, 227, 217, 0.644);
}


html {
  height: 100vh;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background-color);
  color: var(--fdnd-color-dark-blue);
}

h1 {
  margin: 1rem;
  color: var(--fdnd-color-dark-blue);
  
}

h2 {
  margin: 1rem;
  font-size: medium;
  color: var(--fdnd-color-dark-blue);
}

#container {
  border: 1px solid hotpink;
}
